/* stylesheet */
* {
  box-sizing: border-box; }

html body {
  /* background image credit: https://images5.alphacoders.com/489/489261.jpg */
  background-color: gray;
  height: 100%; }
  html body .trivia-choice-button {
    display: block;
    background: transparent;
    width: 100%; }
  html body .trivia-choice-button:hover {
    background-color: red;
    cursor: pointer; }
  html body .trivia-square {
    background-color: pink;
    color: darkblue;
    padding: 0% 5% 5% 5%;
    margin: 8% 8% 7% 8%;
    height: 600px; }
  html body .trivia-button {
    background-color: blue;
    color: white;
    text-align: center; }
  html body #time-holder {
    position: absolute;
    top: 150px; }
  html body #question-holder {
    /* Positioning */
    margin: 0 auto;
    /* Box-model */
    width: 600px;
    border: 2px 2px solid black;
    /* Typography */
    text-align: center; }
  html body #image-holder {
    /* Positioning */
    position: absolute;
    display: block;
    margin-left: 30%;
    margin-top: 10%;
    width: 40%; }
  html body #start-control {
    /* Positioning */
    position: absolute;
    top: 45%;
    left: 0%;
    width: 100%;
    /* Typography */
    text-align: center; }
  html body button {
    /* Box-model */
    text-align: center; }
