/* stylesheet */
* {
  box-sizing: border-box; }

html body {
  /* background image credit: https://media1.giphy.com/media/TxVVB6PfWMjE4/giphy.gif */
  background: #DBB542 url("../images/rainbow-1418706_960_720.png") no-repeat;
  background-size: 100% 125%;
  height: 100%; }
  html body .custom-h1 {
    font-family: "Acme", sans-serif;
    padding: 2% 2%;
    /* Positioning */
    margin: 0 auto;
    /* Box-model */
    width: 85%;
    border: 2px 2px solid black; }
  html body .rainbow-text {
    background: yellow;
    background: -webkit-linear-gradient(left, red, orange, green, cyan, blue, violet);
    background: -o-linear-gradient(right, red, orange, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, red, orange, green, cyan, blue, violet);
    background: linear-gradient(to right, red, orangered, green, cyan, blue, violet);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5vw; }
  html body .trivia-answer {
    line-height: 1.2; }
  html body .trivia-choice-button {
    display: block;
    background: #DBB542;
    border-radius: 25px;
    color: black;
    padding: 5px 5px;
    width: 100%; }
  html body .trivia-choice-button:hover {
    background-color: #C17561;
    cursor: pointer;
    color: darkblue; }
  html body .trivia-square {
    background-color: #F0F3F0;
    color: black;
    padding: 0% 5% 5% 5%;
    margin: 8% 8% 7% 8%;
    height: 600px;
    border-radius: 25px; }
  html body .trivia-button {
    background-color: blue;
    color: white;
    text-align: center; }
  html body #time-holder {
    position: absolute;
    top: 150px; }
  html body #question-holder {
    /* Positioning */
    margin: 0 auto;
    /* Box-model */
    width: 85%;
    border: 2px 2px solid black;
    /* Typography */
    text-align: center; }
  html body #score-board {
    font-family: "Acme", sans-serif;
    text-align: center;
    line-height: 1.1;
    font-size: 250% !important; }
  html body #loading-img {
    /* Positioning */
    position: absolute;
    display: block;
    margin-left: 30%;
    margin-top: 10%;
    width: 40%; }
  html body #image-holder {
    /* Positioning */
    position: absolute;
    display: block;
    margin-left: 28%;
    margin-top: 1%;
    width: 40%; }
  html body #start-control {
    /* Positioning */
    position: absolute;
    top: 45%;
    left: 0%;
    width: 100%;
    /* Typography */
    text-align: center; }
  html body #restart-btn:hover {
    background-color: #5B5B59;
    color: #CAE6F2; }
  html body button {
    text-align: center; }
