/* stylesheet */

// game font family
//$game-font-1: 'Lato', sans-serif;
//$game-font-2: 'Roboto Mono', monospace;

// color theme for star wars game
$game-bg-color: beige;
$game-color-1: #021C26;
$game-color-2: #124559;
$game-color-3: #26221C;
$game-color-4: #736C63;
$game-color-5: #F2F2F2;


* {
  box-sizing: border-box;
}

html {

  body {
    /* background image credit: https://images5.alphacoders.com/489/489261.jpg */
    background-color: gray;
    height: 100%;
  //  background-size: 100% 125%;
  .trivia-choice-button {
    display: block;
    background: transparent;
    width: 100%;
  }
  .trivia-choice-button:hover {
    background-color: red;
    cursor: pointer;

    //border: 2px 2px solid black;
  }
  .trivia-square {
    background-color: pink;
    color: darkblue;
    padding: 0% 5% 5% 5%;
    margin: 8% 8% 7% 8%;
    height: 600px;
    //height: 80%;
  }
  .trivia-button {
    background-color: blue;
    color: white;
    text-align: center;
  }
  #time-holder {
    position: absolute;
    top: 150px;
    //top: 5%;
  }
  #question-holder {

    /* Positioning */
     margin: 0 auto;

    /* Box-model */
    width: 600px;
    border: 2px 2px solid black;

    /* Typography */
    text-align: center;

  }
  #image-holder {

    /* Positioning */
    position: absolute;
    display: block;
    margin-left: 30%;
    margin-top: 10%;
    width: 40%;

  }

  #start-control {
    /* Positioning */
    position: absolute;
    top: 45%;
    left: 0%;
    width: 100%; 
  //  margin: 20px 0px;

    /* Typography */
    text-align: center;

  }

  button {

    /* Box-model */
    text-align: center;

  }

  }

}