/* stylesheet */

// game font family
//$game-font-1: 'Lato', sans-serif;
//$game-font-2: 'Roboto Mono', monospace;
$trivia-font: 'Acme', sans-serif;

// color theme for star wars game
$game-bg-color: beige;
$game-color-1: #5C8E8A;
$game-color-2: #F0F3F0;
$game-color-3: #DBB542;
$game-color-4: #C17561;
$game-color-5: #5B5B59;
$game-color-6: #CAE6F2;


* {
  box-sizing: border-box;
}

html {

  body {
    /* background image credit: https://media1.giphy.com/media/TxVVB6PfWMjE4/giphy.gif */
   // background-color: $game-color-1;
   background: $game-color-3 url("../images/rainbow-1418706_960_720.png") no-repeat;
   background-size: 100% 125%;
    height: 100%;
  //  background-size: 100% 125%;
    .custom-h1 {
      font-family: $trivia-font;
      // font-size: 300%;
      // background-color: $game-color-5;
      // background-image: $game-color-3 url("../images/banner-1176676_640.jpg") repeat;
      padding: 2% 2%;
      // color: $game-color-2;

      /* Positioning */
      margin: 0 auto;

      /* Box-model */
      width: 85%;
      border: 2px 2px solid black;
    }

    .rainbow-text {
      background: yellow;
      background: -webkit-linear-gradient(left, red , orange, green, cyan, blue, violet);
      background: -o-linear-gradient(right, red, orange, green, cyan, blue, violet);
      background: -moz-linear-gradient(right, red, orange, green, cyan, blue, violet);
      background: linear-gradient(to right, red , orangered, green, cyan, blue, violet);
      background-clip: content-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 5vw;
    }

    .trivia-answer {
      line-height: 1.2;
    }

    .trivia-choice-button {
      display: block;
      background: $game-color-3;
      border-radius: 25px;
      color: black;
      padding: 5px 5px;
      // margin-bottom: 10px;
      width: 100%;
    }

    .trivia-choice-button:hover {
      background-color: $game-color-4;
      cursor: pointer;
      color: darkblue;

      //border: 2px 2px solid black;
    }

    .trivia-square {
      background-color: $game-color-2;
      color: black;
      padding: 0% 5% 5% 5%;
      margin: 8% 8% 7% 8%;
      height: 600px;
      border-radius: 25px;
    }

    .trivia-button {
      background-color: blue;
      color: white;
      text-align: center;
    }

    #time-holder {
      position: absolute;
      top: 150px;
      //top: 5%;
    }

    #question-holder {

      /* Positioning */
      margin: 0 auto;

      /* Box-model */
      width: 85%;
      border: 2px 2px solid black;

      /* Typography */
      text-align: center;

    }

    #score-board {
      font-family: $trivia-font;
      text-align: center;
      line-height: 1.1;
      font-size: 250% !important;
    }

    #loading-img {
      /* Positioning */
      position: absolute;
      display: block;
      margin-left: 30%;
      margin-top: 10%;
      width: 40%;
    }

    #image-holder {
      /* Positioning */
      position: absolute;
      display: block;
      margin-left: 28%;
      margin-top: 1%;
      width: 40%;
    }

    #start-control {
      /* Positioning */
      position: absolute;
      top: 45%;
      left: 0%;
      width: 100%; 

      /* Typography */
      text-align: center;
    }

    #restart-btn:hover {
      background-color: $game-color-5;
      color: $game-color-6;
    }

    button {
      text-align: center;
    }

  }

}